<h2>Search results</h2>
<div class="container">
  {{#each searchResults}}
  <div class="card">
    <div class="card-cover">
    </div>
    <div class="card-info">
      <img src="{{this.image}}" alt="cover-img">
      <br>
      {{this.title}}
      <br>
      {{this.platform}}
      <br>
      ${{this.price}}
      <br>
      <a href="/homepage/rent-form/{{this.title}}/{{this.platform}}/{{this._id}}/{{this.gameOwnerRef}}">
      <button>Rent</button></a>
    </div>
  </div>
  {{/each}}
  <a href="/homepage">
  <button>Go back</button></a>
</div>
