<h2>Search results</h2>
<div class="container">
  {{#each searchResults}}
  <a href="/homepage/rent-form/{{this.title}}/{{this.platform}}/{{this._id}}/{{this.gameOwnerRef}}">
    <div class="card">
      <div class="card-cover">
        <img class="img-thumbnail" src="{{this.image}}" alt="img-thumbnail">
      </div>
      <div class="card-info">
        <br>  
        title:{{this.title}}
        <br>
        platform:{{this.platform}}
        <br>
        price per day:${{this.price}}
        <br>
      </div>
    </div>
  </a>
  {{/each}}
  <a href="/homepage">
    <button class='is-secondary'>Go back</button></a>
</div>