<h3>2. Select one from the games Available</h3>
<br>
{{#each games}}
{{this.title}}
{{this.platform}}
<a href="/profile/game-add-form/{{this.title}}/{{this.platform}}">This One!</a>
<br>
{{/each}}
<br>
{{#if errorMsg}}
<p>{{errorMsg}}</p>
{{/if}}
<br>
<br>
<a href="/profile"><button class='is-primary'>Back to profile</button></a>
