<div class="game-add-search-pg">

    <h2>A man chooses...</h2>
    {{#each games}}
    <section class="game-search-bar">
        <div class="game-title-bar">   
            <span><b>{{this.title}}</b> on {{this.platform}}</span>
        </div>
        <div class="game-title-btn-cont">
            <a href="/profile/game-add-form/{{this.title}}/{{this.platform}}">
            <button class='is-primary'>This One!</button>
            </a>
        </div>
    </section>
    {{/each}}

    {{#if errorMsg}}
     <section class="error">
      <p>{{errorMsg}}</p>
     </section>
    {{/if}}

    <a href="/profile"><button class='is-secondary'>Back to profile</button></a>

</div>