<div class="notifications-pg">

    <h2>Notifications</h2>

    <section class="notifications-box">
        <h3>My owned games</h3>
        {{#each myGames}}
        <a href="/notifications/success/{{this.rentform._id}}">
        <button class="is-primary">
        <p><b>{{this.rentform.gameForRentRef.title}}</b> rented <br>to {{this.rentform.gameRenterRef.nickname}} on {{this.readableDate}}.</p>
        </button>
        </a>
        {{/each}}
    </section>

    <section class="notifications-box">
        <h3>My rented games</h3>
        {{#each myRents}}
        <a href="/notifications/success/{{this.rentform._id}}">
        <button class="is-primary">
        <p><b>{{this.rentform.gameForRentRef.title}}</b> rented <br>from {{this.rentform.gameOwnerRef.nickname}} on {{this.readableDate}}.</p>
        </button>
        </a>
        {{/each}}
    </section>
          <p style="font-size: 8px"><i>"The cake is a lie."</i></p>

</div>