<h2>Notifications</h2>

<h3>My owned games that were rented</h3>

{{#each myGames}}
<a href="/notifications/success/{{this.rentform._id}}">
    <button class="notification">
        {{this.rentform.gameForRentRef.title}} <br> rented to {{this.rentform.gameRenterRef.nickname}} on {{this.readableDate}}.
    </button>
</a>
{{/each}}

<h3>The games that I have rented</h3>
{{#each myRents}}
<a href="/notifications/success/{{this.rentform._id}}">
    <button class="notification">
        {{this.rentform.gameForRentRef.title}} <br> rented from {{this.rentform.gameOwnerRef.nickname}} on {{this.readableDate}}.
    </button>
</a>
{{/each}}