<h2>My profile</h2>
<h3>WELCOME {{nickname}}  </h3>

</div>
<br>
<h2>Put your games for rent!</h2>

<h4>Write a game title and click search</h4>
<form action='/profile' method='post'>
  <label for=''>Game Title</label>
  <input type='text' name='game' value="Oxenfree">
  <button class='is-primary' type='submit'>Search Options</button>
</form>


<h3>All my games up for rent</h3>

{{#each games}}
<div>
Title:{{this.title}}.
Platform:{{this.platform}}.
Price: ${{this.price}}.
Min. Days:{{this.minDays}}.
Max. Days:{{this.maxDays}}.
Availability:{{this.isAvailable}}.
<form action="/profile/available/{{this._id}}" method="post">
<button class='is-primary' type="submit">available</button> </form>
<form action="/profile/edit/{{this._id}}" method="get">
<button class='is-primary' type="submit">edit</button> </form>
<form action="/profile/delete/{{this._id}}" method="post">
<button class='is-primary' type="submit">delete</button> </form>
</div>
{{/each}}