<h2>Profile</h2>
<h3>My profile</h3>
{{user.fullName}}
{{user.email}}
<br>
<a href="/signup">
  <button>Edit profile</button></a>
<br>
<br>

<h3>1. Write a game title and click search</h3>
<form action='/profile' method='post'>
  <label for=''>Game Title</label>
  <input type='text' name='game' value="Oxenfree">
  <button type='submit'>Search Options</button>
</form>
<br>

<h3>My games</h3>
<br>
{{#each games}}
Title:{{this.title}}.
Platform:{{this.platform}}.
Price: ${{this.price}}.
Min. Days:{{this.minDays}}.
Max. Days:{{this.maxDays}}.
Availability:{{this.isAvailable}}.
<form action="/profile/delete/{{this._id}}" method="post">
  <button type="submit">DELETE</button> </form>
<br>
{{/each}}
<br>

<a href="/homepage"><button>Home</button></a>