<h2>Game rent</h2>
{{game.title}}
{{game.console}}
{{game.cover}}
{{game.genre}}
{{game.platform}}
{{game.price}}
{{game.description}}
{{game.rating}}


<br>

{{user.location}}

<br>

<label for="Rent for"></label>
<select>
    <option value="">3</option>
    <option value="">4</option>
    <option value="">5</option>
    <option value="">6</option>
    <option value="">7</option>
  </select>
{{game.price}}
<br>
<a href="/success">
<button>Rent</button></a>
<br>
<a href="/game-search-results">
<button>Go back</button></a>

