<h2>Game rent</h2>

<div class="img-box">
<img src="{{image}}" alt="cover-img">
</div>
<div class="basic-info">
title: {{title}}
<br>
Platform: {{platform}}
<br>
Genre: {{genre}}
<br>
Release Date: {{releaseDate}}
<br>
Metacritic Score: {{score}}
<br>
Publisher: {{publisher}}
<br>
ESBR Rating: {{rating}}
<br>
</div>
<div class="desc-info">
{{description}}
</div>
<br>

<br>
<h3>Basic User information</h3>
nickname: {{ownerNickname}}
<br>
neighborhood: {{ownerNeighborhood}}
<br>

<label for="Rent for">Select days to rent</label>
<select>
    <option value="">3</option>
    <option value="">4</option>
    <option value="">5</option>
    <option value="">6</option>
    <option value="">7</option>
  </select>
{{price}}
<br>
<a href="/homepage/success/{{gameId}}/{{gameOwnerId}}">
<button class='is-primary'>Rent</button></a>
<br>
<a href="/homepage/game-search-results">
<button class='is-primary'>Go back</button></a>

