<h2>Game rent</h2>

{{title}}
<br>
{{platform}}
<br>
<img src="{{image}}" alt="cover-img">
<br>
{{description}}
<br>
{{genre}}
<br>
{{releaseDate}}
<br>
{{score}}
<br>
{{publisher}}
<br>
{{rating}}


<br>
<h2>Basic User information</h2>
nickname: {{ownerNickname}}
neighborhood: {{ownerNeighborhood}}

<br>

<label for="Rent for"></label>
<select>
    <option value="">3</option>
    <option value="">4</option>
    <option value="">5</option>
    <option value="">6</option>
    <option value="">7</option>
  </select>
{{price}}
<br>
<a href="/homepage/success/{{gameId}}/{{gameOwnerId}}">
<button>Rent</button></a>
<br>
<a href="/homepage/game-search-results">
<button>Go back</button></a>

