
<div class="success-pg">

    <h2>{{addedMessage}}</h2>

    <div class="game-basic-info">
        <div class="card">
           <div class="card-cover">
                <img class="img-thumbnail" src="{{gameForRentRef.image}}" alt="game-cover"> <br>
            </div>
            <div class="card-info"> 
            
                <p><i>{{gameForRentRef.title}}</i> <br>
                {{gameForRentRef.platform}} <br>
                ppd: €{{gameForRentRef.price}} <br>
                days: {{totalDays}} <br>
                total: €{{totalPrice}}</p>
            </div>
        </div>
    </div>

<h3>You can now contact {{gameOwnerRef.nickname}}</h3>

<div class="success-info-box">
    <div class="contact-info">
        <h4>Owner Info</h4>
        fullName: {{gameOwnerRef.fullName}} <br>
        Phone: {{gameOwnerRef.phone}} <br>
        Email: {{gameOwnerRef.email}} <br>
        neighborhood: {{gameOwnerRef.address.neighborhood}} <br>
    </div>
    <div class="contact-info">
        <h4>Renter Info</h4>
        fullName: {{gameRenterRef.fullName}} <br>
        Phone: {{gameRenterRef.phone}} <br>
        Email: {{gameRenterRef.email}} <br>
        neighborhood: {{gameRenterRef.address.neighborhood}} <br>
    </div>
</div>

    <a href="/homepage"><button class='is-secondary'>Go back</button></a>

</div>
